html {
  font-size: 10px;
  --font: arial;
  --primaryColor: white;
  --accent: dodgerblue;
  --bg: black;
}
body {
  position: relative;
  margin: 0;
    
  background-image: url(images/default.jpg);
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}
