html {
  font-size: 10px;
  --font: arial;
  --primaryColor: white;
  --accent: dodgerblue;
  --bg: black;
}
body {
  background: red;
}
#navigator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg);
}
